 *{
   padding : 0;
   margin :0 ;
 }

#container{
   background-image: url("images/background.jpg");
   background-size:cover;
   background-position:center;
   background-repeat:no-repeat;
   height:100vh;
   width:100vw;
   margin:0;   
   color:#000000;
    text-align:center;
    text-decoration:underline;
}
.home li{
   list-style: none;
}
.home li a{
   cursor: pointer;
   color: black;

}
.home li a:hover{
   color: red;
   font-size: 30px;
}
h1 {
display:inline-block;
padding:10px 20px;
border: 3px solid #ff6600;
border-radius:10px;
background-color:#ffe6cc;
color:#333;
font-family : Arial,sans-serif;
box-shadow: 3px 3px 10px rgba(0,0,0,0.2);
text-align:center;
} 
#score {
    display: inline-block; 
    background: white;
    color: #ff3300;
    border-radius: 5px;
    padding: 5px 10px;
    font-weight: bold;
    animation: jump 0.5s infinite ease-in-out;  
}
#board{
   width:450px;
   height:450px;
   background-color:lightblue;
   border: 5px solid slategray;
   border-radius: 10px;
   margin:0 auto;
   display:flex;
   flex-wrap:wrap;
}
@keyframes shiver {
   0% { transform: rotate(0deg); }
   25% { transform: rotate(-10deg); }
   50% { transform: rotate(10deg); }
   75% { transform: rotate(-10deg); }
   100% { transform: rotate(10deg); }
}
#board img {
   width: 50px;
   height: 50px;
   margin: 0;
   padding: 0;
   display:block;
   animation: shiver 0.4s infinite linear !important; 
}

.decoration  {
   background:linear-gradient(to right, #eebefc, #ffb95d); 
    width :150px;
    padding :10px;
    margin:0px;
    display:flex;
    justify-content:center;
     align-items:center;
   border:4px solid #050000;
   box-shadow:10px 10px 20px 1px #de6c6c;
   border-radius : 20px;
   font-size:29px;
   color:black;
}
/* .container{
   background-image: url("images/background.jpg");
   background-repeat: repeat;

} */
 #element{
      background:linear-gradient(to right, #eebefc, #ffb95d); 
      color: green;
       width :600px;
       padding :10px;
       margin:0px;
       display:flex;
       justify-content:center;
        align-items:center;
      border:4px solid #050000;
      box-shadow:10px 10px 20px 1px #de6c6c;
      border-radius : 20px;
      font-size:50px;
   }
.pop-up {
   display: none; 
   position: fixed;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
   background: white;
   padding: 20px;
   box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
   text-align: center;
   border-radius: 10px;
   z-index: 100;
}
.pop-up{
   background-image: linear-gradient(0deg, #FFDEE9 0%, #B5FFFC 100%);
   border:3px solid black;
}
.home{
   display: flex;
   align-items: center;
   justify-content: space-evenly;
   background-image: url("images/background.jpg");
   background-size:cover;
   background-position:center;
   background-repeat:no-repeat;
   height:100vh;
   width:100vw;
   margin:0;   
   color:#000000;
   text-align:center;
   text-decoration:underline;
   }

button {
   color :#001aff;
   background:linear-gradient(45deg, rgba(55, 249, 142, 0.5), rgba(0, 0, 255, 0.5));
   width:70px;
   height:30px;
   text-decoration:underline;
    border-radius:15px;
    border:3px solid #bdf35a;
}
#timer{
   font-size:24px;
   font-weight:bold ;
   color:black;
   transition: all 0.3 ease;
}
#warning {
   color: rgb(0, 72, 255);
    font-size: 1.5em;
    margin-top: 10px;
    height:50px;  
    align-items:center;
    border-radius:20px;
    border-radius:2px solid #000;    
}
